{% extends "base.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock title %}

{% block body %}

    <div class="header-below"> 

        <div class="container ">

        <!-- <div class="row"> -->
    
            <div class="col-2  ">
            <h1>
                Best Ecommerce Site !
            </h1>
            <p>
                An e-commerce website is one that allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location. Through an e-commerce website, a business can process orders, accept payments, manage shipping and logistics, and provide customer service.
            </p>  <br> <br>
            
            </div>
        
          <!-- </div> -->
    
    
        </div>

    </div>
 
    <div class="bg-color">   <br>


    

            <div class="small-container">
            


                    
                <h2 class="title">SHOW ORDER PRODUCT</h2>
                <div class="row bg-product">
                    {% for product in order_item_queryset %} 

                        <div class="col-4">
                        <!-- <div class="detail-content"> <br> <br>
                            <h3> {{ product }} </h3>
                            <b> stock :  </b> {{product.stock}}  <br>
                            <b> Price :  </b> {{product.product_property.price }}  <br>

                        </div> -->

                        <img src="{{ product.order_item.product_property.image.url  }}" alt="" />
                        <h3>{{ product.order_item.product_property.name }}</h3>
                        <p> {{ product.order_item.product_property.description}}</p>
                        
                        <h4> <b> Rs : {{ product.order_item.product_property.price }} </b></h4>
                        

                        <!-- <a href="{% url 'remove_item' id=product.id  %}"><button>  Remove Item </button></a> -->
                        </div>


                </div>

                <div class="price_show"> 
                </div> 

                {% endfor %}
                
                
            </div> <br> <br>

    </div>


{% endblock body%}









